@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */



/* .icon-down-dir::before {
  content: "\25bc";
  margin: 0;
padding: 0;} "▼"

.icon-up-dir::before {
  content: "\25b2";
  margin: 0;
 padding: 0;}  "▲"*/

.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */

/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-basket {
    width: 15px;
    height: 15px;
    background-position: -10px -10px;
}

.sprite--icon-basket-copy-2 {
    width: 15px;
    height: 15px;
    background-position: -45px -10px;
}

.sprite--icon-basket-copy-3 {
    width: 15px;
    height: 15px;
    background-position: -80px -10px;
}

.sprite--icon-check-off {
    width: 23px;
    height: 23px;
    background-position: -115px -10px;
}

.sprite--icon-check-off-block {
    width: 23px;
    height: 23px;
    background-position: -158px -10px;
}

.sprite--icon-check-off-hv {
    width: 23px;
    height: 23px;
    background-position: -201px -10px;
}

.sprite--icon-check-on {
    width: 27px;
    height: 23px;
    background-position: -244px -10px;
}

.sprite--icon-check-on-block {
    width: 27px;
    height: 23px;
    background-position: -291px -10px;
}

.sprite--icon-check-on-hv {
    width: 27px;
    height: 23px;
    background-position: -338px -10px;
}

.sprite--icon-circle {
    width: 25px;
    height: 25px;
    background-position: -385px -10px;
}

.sprite--icon-circle-block {
    width: 25px;
    height: 25px;
    background-position: -430px -10px;
}

.sprite--icon-circle-dot {
    width: 25px;
    height: 25px;
    background-position: -475px -10px;
}

.sprite--icon-circle-dot-block {
    width: 25px;
    height: 25px;
    background-position: -520px -10px;
}

.sprite--icon-circle-dot-hv {
    width: 25px;
    height: 25px;
    background-position: -565px -10px;
}

.sprite--icon-circle-hv {
    width: 25px;
    height: 25px;
    background-position: -610px -10px;
}

.sprite--icon-down-dir {
    width: 11px;
    height: 10px;
    background-position: -655px -10px;
}

.sprite--icon-down-dir-black {
    width: 11px;
    height: 10px;
    background-position: -686px -10px;
}

.sprite--icon-down-dir-gren {
    width: 11px;
    height: 10px;
    background-position: -717px -10px;
}

.sprite--icon-down-dir-grya {
    width: 11px;
    height: 10px;
    background-position: -748px -10px;
}

.sprite--icon-facebook {
    width: 12px;
    height: 22px;
    background-position: -779px -10px;
}

.sprite--icon-instagramm {
    width: 21px;
    height: 21px;
    background-position: -811px -10px;
}

.sprite--icon-up-dir {
    width: 11px;
    height: 10px;
    background-position: -852px -10px;
}

.sprite--icon-up-dir-black {
    width: 11px;
    height: 10px;
    background-position: -883px -10px;
}

.sprite--icon-up-dir-green {
    width: 11px;
    height: 10px;
    background-position: -914px -10px;
}

.sprite--icon-vk {
    width: 26px;
    height: 15px;
    background-position: -945px -10px;
}

*/


body {
  width: 1200px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  background: #ffffff;
}

header {
  background: #eeeeee;
  margin-bottom: 78px;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-navigation {
  width: 880px;
}

.main-menu {
  float: left;
  width: 740px;
}

.user-block {
  float: right;
  max-width: 100px;
}

.user-block li {
  margin: 54px 0;
}

.cart {
  position: relative;
  margin-left: 10px;
  padding-left: 35px;
}

.cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 18px;
  height: 18px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -10px -10px;
}

.cart:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -80px -10px;
}

.cart:active::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -45px -10px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu li {
  display: inline-block;
  vertical-align: center;
  margin: 54px 22px;
}

.main-menu li:first-child {
  margin: 0;
  margin-left: 10px;
  margin-right: 160px;
}

.main-menu .logo {
  float: left;
  width: 140px;
  height: 66px;
  padding-top: 26px;
}

.main-menu li:last-child {
  margin-right: 0;
}

.user-block a,
.main-menu a {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.user-block a:hover,
.main-menu a:hover {
  color: #fb565a;
}

.user-block a:active,
.main-menu a:active {
  color: #8f8f8f;
}

.main-menu .active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.main-menu .active:hover {
  color: #000000;
}

.slider {
  position: relative;
  width: 880px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  /*position: absolute;
  top: 0;
  left: 0;
  width: 100%;*/
  min-height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 0;
  /*-webkit-transition: left 0.3s ease;
     -moz-transition: left 0.3s ease;
          transition: left 0.3s ease;*/
}


.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 90px;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: center;
  background: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 470px;
  padding: 19px 0;
}

.slide p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

p.slide-title {
  margin-bottom: 18px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
  color: #111111;
}

.slide .btn {
  display: inline-block;
  margin-top: 27px;
  padding: 10px 71px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  background: #fb565a;
  text-decoration: none;
  border-radius: 3px;
}

.slide:nth-child(1) {
  background-image: url(/img/slade3.png);
}

.slide:nth-child(2) {
  background-image: url(/img/slade2.png);
}

.slide:nth-child(3) {
  display: block;
  background-image: url(/img/slade1.png);
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.features {
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 70px;
}

.features-item {
  float: left;
  width: 240px;
  margin-left: 10px;
  margin-right: 70px;
  margin-bottom: 80px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p,
.features-item h2 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

.features-item h2 {
  margin-top: 18px;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.features-item p {
  margin-bottom: 26px;
  font-size: 15px;
  line-height: 22px;
  color: #283136;
}

.item-btn {
  width: 140px;
  height: 38px;
  border-radius: 2px;
  text-align: center;
}

.item-btn a {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 40px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.item-btn.red {
  background: #fb565a;
}

.item-btn.green {
  background: #00ca74;
}

.item-btn.yellow {
  background: #efc84a;
}

.item-btn.red:hover {
  background: #d6494d;
}

.item-btn.green:hover {
  background: #01a25e;
}

.item-btn.yellow:hover {
  background: #d6ae2c;
}

.item-btn.red:active {
  background: #b63538;
}

.item-btn.green:active {
  background: #009053;
}

.item-btn.yellow:active {
  background: #c09b24;
}

.column-left {
  float: left;
  width: 610px;
  margin-right: 10px;
  padding-left: 10px;
}

.column-right {
  float: right;
  width: 240px;
  margin-right: 10px;
}

.benefits ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-work {
	min-height: 166px;
  margin-top: 48px;
  border-bottom: 2px solid #eeeeee;
	border-top: 2px solid #eeeeee;
}

.about {
  position: relative;
}

.about p,
.about b,
 h2{
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

.about p {
  padding-bottom: 17px;
  color: #283136;
}

.about-title {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.about-logo {
  position: absolute;
  right: 10px;
  top: -12px;
}

.benefits h2 {
  margin-top: 28px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: inherit;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.benefits li {
  position: relative;
  padding-left:  36px;
  padding-bottom: 22px;
  color: #283136;
}

.benefits li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 12px;
  width: 2px;
  height: 25px;
  background: #fb565a;
  transform: rotate(90deg);
}

.our-work ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.our-work li {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  margin-right: 80px;
  width: 230px;
	height: 88px;
}

.our-work a {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  padding: 32px 113px;
}

.our-work li:last-child {
  margin-right: 0;
}

.our-work-1 {
  background-image: url(/img/woks1.png);
  background-repeat: no-repeat;
	background-position: 21px 23px;
}

.our-work-2 {
	background-image: url(/img/woks2.png);
  background-repeat: no-repeat;
	background-position: 27px 10px;
}

.our-work-3 {
	background-image: url(/img/woks3.png);
  background-repeat: no-repeat;
	background-position: 34px 1px;
}

.our-work-1:hover {
  background-image: url(/img/woks1-hv.png);
}

.our-work-2:hover {
  background-image: url(/img/woks2-hv.png);
}

.our-work-3:hover {
  background-image: url(/img/woks3-hv.png);
}

.our-work-1:active {
  background-image: url(/img/woks1-hv.png);
}

.our-work-2:active {
  background-image: url(/img/woks2-hv.png);
}

.our-work-3:active {
  background-image: url(/img/woks3-hv.png);
}

.main-footer {
  margin-top: 85px;
  position: relative;
}

.main-footer .container {
  min-height: 216px;
}

.footer-social {
  float: left;
  width: 260px;
}

.footer-friends {
  float: right;
  width: 560px;
  margin-top: 76px;
  margin-right: 9px;
}

.footer-contacts {
  position: absolute;
  top: 88px;
  left: 159px;
  width: 252px;
  height: 242px;
  background: #ffffff;
}

.footer-contacts div {
  margin-top: 26px;
  margin-left: 22px;
}

.footer-contacts h3,
.footer-contacts p {
  margin: 0;
  padding: 0;
  font-weight: inherit;
}

.footer-contacts p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #646464;
}

.footer-contacts h3 {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-btn {
  display: inline-block;
  margin-left: 2px;
  margin-top: 9px;
  background: #fb565a;
  vertical-align: middle;
  padding: 10px 53px;
  color: #ffffff;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
}

.map {
  position: relative;
  height: 415px;
}

.map::after {
  content: "";
  position: absolute;
  bottom: 110px;
  left: 838px;
  width: 230px;
  height: 190px;
  background: url(../img/logo-white.png) no-repeat;
}

.footer-friends p {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: #283136;
}

.footer-friends span {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

.footer-social {
  margin-top: 78px;
  padding-left: 10px;
 font-size: 0;
 background: 1px solid #ffffff;
}

.social-btn {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 25px;
  vertical-align: middle;
  background: #e1e1e1;
  border-radius: 50%;
  text-decoration: none;
}

.social-btn:hover {
	background: #fb565a;
}

.social-btn:active {
	background: #d6494d;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/sprite.png) no-repeat;
}

.social-vk::before {
  content: "";
  width: 26px;
  height: 15px;
  background-position: -945px -10px;
}

.social-fb::before {
  content: "";
  width: 12px;
  height: 22px;
  background-position: -779px -10px;
}

.social-in::before {
  content: "";
  width: 21px;
  height: 21px;
  background-position: -811px -10px;
}

.modal-content {
  display: none;
  position: absolute;
  top: -35px;
  left: 50%;
  width: 466px;
  margin-left: -326px;
  padding: 49px 82px;
	padding-top: 36px;
  background: #ffffff;
  z-index: 10;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
  display: block;
}

.modal-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #fb565a;
  font-size: 0;
  text-decoration: none;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 19px;
  width: 4px;
  height: 25px;
  background-color: #ffffff;
  border-radius: 1px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-left {
  float: left;
  width: 216px;
  margin: 0;
  padding: 0;
}

.modal-right {
  float: right;
  margin-right: 9px;
  width: 216px;
}

.modal-form label {
  font-size: 16px;
  line-height: 18px;
}

input[type="text"] {
  display: inline-block;
  vertical-align: top;
	margin-top: -7px;
  width: 190px;
  padding: 8px 12px;
  border: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

input[type="text"]:hover {
  border-color: #a2a9ac;
}

input[type="text"]:focus {
  border: 1px solid #56bffb;
}

input[placeholder],
.letter-field,
.modal-btn {
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.letter-field {
  box-sizing: border-box;
  width: 458px;
  height: 114px;
	margin-top: -7px;
  margin-bottom: 42px;
  padding: 8px 12px;
  border: none;
  border: 2px solid #d7dcde;
  border-radius: 3px;
}

.modal-btn {
  padding: 10px 195px;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
}

.inner-title {
  width: 720px;
  margin: 0 auto;
  padding-bottom: 84px;
  text-align: center;
}

.inner h1 {
  margin: 0;
  padding: 0;
  padding-top: 9px;
  padding-right: 10px;
  font-size: 40px;
  line-height: 48px;
  font-weight: inherit;
  text-transform: uppercase;
}

aside {
  float: left;
  width: 240px;
}

.inner-content {
  float: right;
  width: 570px;
}

.selection ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.selection li {
  display: inline-block;
  margin-right: 41px;
  margin-bottom: 18px;
  padding-top: 3px;
  vertical-align: bottom;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.selection li:first-child {
  margin-right: 35px;
}

.selection a {
  border-bottom: 2px dotted #00ca74;
  text-decoration: none;
  color: #b2b2b2;
}

.selection a:hover {
  color: #000000;
  border-bottom: 2px solid #00ca74;
}

.selection a:active {
  color: #000000;
  border-bottom: none;
}

.selection-price a.active {
  color: #00ca74;
  border-bottom: none;
}

.arrow {
  position: relative;
  max-width: 28px;
  margin-left: 32px;
}

.arrow::before {
  content: "";
  position: absolute;
  top: -14px;
  left: 24px;
  width: 12px;
	height: 12px;
	background: url(../img/sprite.png) no-repeat;
  background-position: -655px -10px;
}

.arrow::after {
  content: "";
  position: absolute;
  top: -14px;
  left: 40px;
  width: 12px;
	height: 12px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -852px -10px;
}

.arrow:active::after  {
  background: url(../img/sprite.png) no-repeat;
  background-position: -883px -10px;
}

.arrow span.active {
  color: #00ca74;
}

.maquette-item {
  position: relative;
  width: 240px;
  height: 240px;
  margin-bottom: 78px;
  padding-top: 32px;
  cursor: pointer;
}

.maquette-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 240px;
  height: 30px;
  background: #f1f1f1 url(../img/browser.jpg) no-repeat;
  z-index: 10;
}

.maquette-item:nth-child(2n+1) {
  float: left;
}

.maquette-item:nth-child(2n) {
  float: right;
  margin-right: 10px;
}

.hidden {
  display: none;
  position: absolute;
  top: 52px;
  left: 20px;
  width: 160px;
  height: 200px;
  padding: 0 20px;
  background: #ffffff;
  text-align: center;
  border: 1px solid #ffffff;
}

.hidden-title {
  margin: 0;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 13px;
}

.hidden-a {
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.hidden p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

.hidden-btn {
  position: absolute;
  bottom: 28px;
  left: 30px;
}

.hidden-price {
  display: inline-block;
  width: 80px;
  padding: 9px 30px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  color: #ffffff;
  border-radius: 3px;
}

.hidden-price:hover {
  background-color: #d6494d;
}

.hidden-price:active {
  background-color: #b63538;
}

.maquette-item:hover .hidden {
  display: block;
}

.maquette-item:hover.maquette-item::before {
  background: url(../img/browser-hv.png) no-repeat;
}

.paginator a {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: -6px;
  padding: 8px 14px;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  color: #000000;
}

.paginator a:first-child {
  background: none;
  border: 2px solid #f1f1f1;
}

.paginator a:last-child {
  padding: 8px 31px;
}

.paginator a:hover {
  background: #e5e5e5;
  border: 2px solid #e5e5e5;
}

.paginator a:first-child:hover {
  background: none;
  border: 2px solid #f1f1f1;
}

.paginator a:active {
   background: #d5d5d5;
  border: 2px solid #d5d5d5;
  border-top: 2px solid #b5b5b5;
}

.filter-range {
  border: none;
  outline: none;
  margin-left: 0;
  margin-top: -3px;
}

.filter-range legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  width: 238px;
  height: 78px;
  margin-top: 7px;
  margin-bottom: 23px;
  border-radius: 5px;
  background: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  margin-top: 39px;
  margin-left: 20px;
  margin-right: 20px;
  background: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background: #00ca74;
  width: 70%;
}

.range-controls .toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 30px;
  left: 0px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
   cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 159px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  vertical-align: bottom;
  width: 50%;
  margin-bottom: 33px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  margin-left: 5px;
  padding: 8px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.max-price {
  text-align: right;
}

.filter-grid {
  border: none;
  outline: none;
  margin-left: 0;
  margin-bottom: 33px;
}

.filter-grid legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
}

.filter-grid p {
  margin-top: 11px;
  margin-bottom: 20px;
}

.filter-grid p:last-child{
  margin-bottom: 0;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  position: relative;
  display: block;
  padding-left: 35px;
  font-size: 16;
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  background: url(../img/sprite.png) no-repeat;
  background-position: -385px -10px;
}

input[type="radio"]:checked + label::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -475px -10px;
}

input[type="radio"]:disabled + label::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -430px -10px;
}

input[type="radio"]:disabled + label {
  color: #a9adaf;
  cursor: default;
}

.filter-grid label:hover {
  color: #000000;
}

input[type="radio"]:checked + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -565px -10px;
}

input[type="radio"] + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -610px -10px;
}

input[type="radio"]:disabled + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -430px -10px
}

.filter-features {
  border: none;
  outline: none;
  margin-left: 0;
  margin-bottom: 30px;
  }

.filter-features legend {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
/*  margin-bottom: -7px;*/
}

.filter-features p {
  margin-top: 9px;
  margin-bottom: 18px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 35px;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

input[type="checkbox"]:hover +label {
  color: #000000;
}

input[type="checkbox"]:disabled + label {
  color: #a9adaf;
  cursor: default;
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: url(../img/sprite.png) no-repeat;
  background-position: -115px -10px;
}

input[type="checkbox"]:checked + label::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -244px -10px;
}

input[type="checkbox"]:disabled + label::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -158px -10px;
}

input[type="checkbox"] + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -201px -10px;
}

input[type="checkbox"]:checked + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -338px -10px;
}

input[type="checkbox"]:disabled + label:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -158px -10px;
}

.benefits-btn {
  display: block;
  width: 64px;
  margin-left: 10px;
  padding: 10px 46px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #f1f1f1;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  border: none;
}

.benefits-btn:hover {
  background: #e5e5e5;
}

.benefits-btn:active {
  padding: 9px 46px;
  background: #d5d5d5;
  border-top: 2px solid #b5b5b5;
}
